Repository Fansana/floof-frontier, pull requests merged in 2025-02, with the labels that each got.

#137 Change Station Name to Flooftier Outpost
  Resources/Maps/_NF/Outpost/frontier.yml
  Resources/Prototypes/_NF/Maps/Outpost/frontier.yml
Labels: No C#, Map-Outpost

#138 Various changes to make flooftier great
  Content.Shared/_NF/CCVar/NFCCVars.cs
  Resources/Maps/_NF/Shuttles/Expedition/mayflower.yml
  Resources/Maps/_NF/Shuttles/Nfsd/arrow.yml
  Resources/Maps/_NF/Shuttles/Nfsd/marauder.yml
  Resources/Prototypes/Catalog/Cargo/cargo_engines.yml
  Resources/Prototypes/Entities/Objects/Power/antimatter_jar.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Guidebook/rules.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Prototypes/Research/experimental.yml
  Resources/Prototypes/Research/industrial.yml
  Resources/Prototypes/_NF/Catalog/Fills/Crates/expeditions_loot.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/flatpackvend.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_kitchen.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_research.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/flatpacks.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/chemical-containers.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/sheriff.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/mayflower.yml
  Resources/Prototypes/_NF/Shipyard/Nfsd/arrow.yml
  Resources/Prototypes/_NF/Shipyard/Nfsd/marauder.yml
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC0.xml
  Resources/ServerInfo/Guidebook/ServerRules/WizDenCoreOnlyRules.xml
  Resources/ServerInfo/Guidebook/ServerRules/WizDenLRPRules.xml
  Resources/ServerInfo/Guidebook/ServerRules/WizDenMRPRules.xml
  Resources/ServerInfo/_NF/Guidebook/Rules/Zero_Tolerance.xml
Labels: C#, YML, FTL, Map-Dungeon, Map-POI, Docs, Map-Shuttle, Sprites

#140 NTC Wisp salvage and expedition ship
  Resources/Maps/_NF/Shuttles/Expedition/wisp.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/wisp.yml
Labels: YML, No C#, Map-Shuttle

#139 NTC Phantom Expedition & Bounty hunting ship
  Resources/Maps/_NF/Shuttles/Expedition/phantom.yml
  Resources/Prototypes/_NF/Guidebook/shuttle_maps.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/phantom.yml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Phantom.xml
  Resources/Textures/_NF/Guidebook/shuttle_maps/128x96.rsi/meta.json
  Resources/Textures/_NF/Guidebook/shuttle_maps/128x96.rsi/phantom.png
Labels: YML, No C#, Docs, Map-Shuttle, Sprites

#145 Lathe Fix
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
  Resources/Prototypes/Research/arsenal.yml
Labels: YML, No C#

#144 Exped Fix
  Resources/Prototypes/Entities/Objects/Specific/Cargo/cargo_pallet.yml
  Resources/Prototypes/_NF/Catalog/Fills/Items/briefcases.yml
Labels: YML, No C#

#146 wisp hotfix
  Resources/Maps/_NF/Shuttles/Expedition/wisp.yml
Labels: YML, No C#, Map-Shuttle

#147 phantom lil changes
  Resources/Maps/_NF/Shuttles/Expedition/phantom.yml
Labels: No C#, Map-Shuttle

#148 bye mayflower its broken
  Resources/Maps/_NF/Shuttles/Expedition/mayflower.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/mayflower.yml
Labels: YML, No C#, Map-Shuttle

#149 wisp fix
  Resources/Maps/_NF/Shuttles/Expedition/wisp.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/wisp.yml
Labels: YML, No C#, Map-Shuttle

#150 Lockfix
  Resources/Prototypes/Floof/Entities/Mobs/Cyborgs/quadborg.yml
Labels: YML, No C#
