Repository Fansana/floof-frontier, pull requests merged in 2025-03, with the labels that each got.

#151 wisp and phantom adjustments
  Resources/Maps/_NF/Shuttles/Expedition/phantom.yml
  Resources/Maps/_NF/Shuttles/Expedition/wisp.yml
  Resources/Prototypes/_NF/Guidebook/shipyard.yml
Labels: YML, No C#, Map-Shuttle

#153 Add scripts from Floofstation
  Scripts/bat/!README.txt
  Scripts/bat/buildAllDebug.bat
  Scripts/bat/buildAllRelease.bat
  Scripts/bat/buildAllTools.bat
  Scripts/bat/runQuickAll.bat
  Scripts/bat/runQuickClient.bat
  Scripts/bat/runQuickServer.bat
  Scripts/bat/runTests.bat
  Scripts/bat/runTestsIntegration.bat
  Scripts/bat/runTestsYAML.bat
  Scripts/sh/!README.txt
  Scripts/sh/buildAllDebug.sh
  Scripts/sh/buildAllRelease.sh
  Scripts/sh/buildAllTools.sh
  Scripts/sh/runQuickAll.sh
  Scripts/sh/runQuickClient.sh
  Scripts/sh/runQuickServer.sh
  Scripts/sh/runTests.sh
  Scripts/sh/runTestsIntegration.sh
  Scripts/sh/runTestsYAML.sh
Labels: No C#

#162 Port Floof Collars
  Resources/Prototypes/Catalog/VendingMachines/Inventories/cargodrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/centdrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/clothesmate.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/engidrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medidrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/scidrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/secdrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/syndiedrobe.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Floof/Entities/Clothing/Neck/collars.yml
  Resources/Prototypes/Floof/Loadouts/neck.yml
  Resources/Prototypes/Recipes/Lathes/clothing.yml
  Resources/Prototypes/_NF/Loadouts/contractor_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/doc_loadout_groups.yml
  Resources/Textures/Floof/Clothing/Neck/collar_black.rsi/equipped-NECK.png
  Resources/Textures/Floof/Clothing/Neck/collar_black.rsi/icon.png
  Resources/Textures/Floof/Clothing/Neck/collar_black.rsi/meta.json
  Resources/Textures/Floof/Clothing/Neck/collar_blue.rsi/equipped-NECK.png
  Resources/Textures/Floof/Clothing/Neck/collar_blue.rsi/icon.png
  Resources/Textures/Floof/Clothing/Neck/collar_blue.rsi/meta.json
  Resources/Textures/Floof/Clothing/Neck/collar_cc.rsi/equipped-NECK.png
  Resources/Textures/Floof/Clothing/Neck/collar_cc.rsi/icon.png
  Resources/Textures/Floof/Clothing/Neck/collar_cc.rsi/meta.json
  Resources/Textures/Floof/Clothing/Neck/collar_cmd.rsi/equipped-NECK.png
  Resources/Textures/Floof/Clothing/Neck/collar_cmd.rsi/icon.png
  Resources/Textures/Floof/Clothing/Neck/collar_cmd.rsi/meta.json
  Resources/Textures/Floof/Clothing/Neck/collar_engi.rsi/equipped-NECK.png
  Resources/Textures/Floof/Clothing/Neck/collar_engi.rsi/icon.png
  Resources/Textures/Floof/Clothing/Neck/collar_engi.rsi/meta.json
  Resources/Textures/Floof/Clothing/Neck/collar_epi.rsi/equipped-NECK.png
  Resources/Textures/Floof/Clothing/Neck/collar_epi.rsi/icon.png
  Resources/Textures/Floof/Clothing/Neck/collar_epi.rsi/meta.json
  Resources/Textures/Floof/Clothing/Neck/collar_logi.rsi/equipped-NECK.png
  Resources/Textures/Floof/Clothing/Neck/collar_logi.rsi/icon.png
  Resources/Textures/Floof/Clothing/Neck/collar_logi.rsi/meta.json
  Resources/Textures/Floof/Clothing/Neck/collar_med.rsi/equipped-NECK.png
  Resources/Textures/Floof/Clothing/Neck/collar_med.rsi/icon.png
  Resources/Textures/Floof/Clothing/Neck/collar_med.rsi/meta.json
  Resources/Textures/Floof/Clothing/Neck/collar_pink.rsi/equipped-NECK.png
  Resources/Textures/Floof/Clothing/Neck/collar_pink.rsi/icon.png
  Resources/Textures/Floof/Clothing/Neck/collar_pink.rsi/meta.json
  Resources/Textures/Floof/Clothing/Neck/collar_sec.rsi/equipped-NECK.png
  Resources/Textures/Floof/Clothing/Neck/collar_sec.rsi/icon.png
  Resources/Textures/Floof/Clothing/Neck/collar_sec.rsi/meta.json
  Resources/Textures/Floof/Clothing/Neck/collar_syndi.rsi/equipped-NECK.png
  Resources/Textures/Floof/Clothing/Neck/collar_syndi.rsi/icon.png
  Resources/Textures/Floof/Clothing/Neck/collar_syndi.rsi/meta.json
Labels: YML, No C#, Sprites

#163 Prototype pulse rifle
  Resources/Prototypes/Floof/Entities/Objects/Power/powercells.yml
  Resources/Prototypes/Floof/Entities/Objects/Tools/blueprints/blueprints_expedition_loot.yml
  Resources/Prototypes/Floof/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Floof/Entities/Objects/Weapons/Guns/Projectiles/hitscan.yml
  Resources/Prototypes/Floof/Recipes/Lathes/blueprints.yml
  Resources/Prototypes/Floof/Recipes/Lathes/weapons.yml
  Resources/Prototypes/Floof/tags.yml
  Resources/Prototypes/_NF/Catalog/Fills/Items/document_cases_expedition.yml
  Resources/Textures/Floof/Objects/Power/prototype_power_cell.rsi/meta.json
  Resources/Textures/Floof/Objects/Power/prototype_power_cell.rsi/o1.png
  Resources/Textures/Floof/Objects/Power/prototype_power_cell.rsi/o2.png
  Resources/Textures/Floof/Objects/Power/prototype_power_cell.rsi/ppr-power-cell.png
  Resources/Textures/Floof/Objects/Weapons/Guns/Battery/prototype_pulse_rifle.rsi/base.png
  Resources/Textures/Floof/Objects/Weapons/Guns/Battery/prototype_pulse_rifle.rsi/equipped-BACKPACK.png
  Resources/Textures/Floof/Objects/Weapons/Guns/Battery/prototype_pulse_rifle.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Floof/Objects/Weapons/Guns/Battery/prototype_pulse_rifle.rsi/icon.png
  Resources/Textures/Floof/Objects/Weapons/Guns/Battery/prototype_pulse_rifle.rsi/inhand-left.png
  Resources/Textures/Floof/Objects/Weapons/Guns/Battery/prototype_pulse_rifle.rsi/inhand-right.png
  Resources/Textures/Floof/Objects/Weapons/Guns/Battery/prototype_pulse_rifle.rsi/mag-unshaded-0.png
  Resources/Textures/Floof/Objects/Weapons/Guns/Battery/prototype_pulse_rifle.rsi/mag-unshaded-1.png
  Resources/Textures/Floof/Objects/Weapons/Guns/Battery/prototype_pulse_rifle.rsi/mag-unshaded-2.png
  Resources/Textures/Floof/Objects/Weapons/Guns/Battery/prototype_pulse_rifle.rsi/mag-unshaded-3.png
  Resources/Textures/Floof/Objects/Weapons/Guns/Battery/prototype_pulse_rifle.rsi/mag-unshaded-4.png
  Resources/Textures/Floof/Objects/Weapons/Guns/Battery/prototype_pulse_rifle.rsi/meta.json
  Resources/Textures/Floof/Objects/Weapons/Guns/Battery/prototype_pulse_rifle.rsi/wielded-inhand-left.png
  Resources/Textures/Floof/Objects/Weapons/Guns/Battery/prototype_pulse_rifle.rsi/wielded-inhand-right.png
Labels: YML, No C#, Sprites
