Repository Fansana/floof-frontier, pull requests merged in 2025-04, with the labels that each got.

#169 Lathe fix
  Resources/Maps/_NF/Shuttles/Nfsd/arrow.yml
Labels: No C#, Map-Shuttle

#170 Lathe fix
  Resources/Maps/_NF/Shuttles/Nfsd/arrow.yml
Labels: No C#, Map-Shuttle

#165 Discord Auth-API Intergration
  Content.Client/Entry/EntryPoint.cs
  Content.Client/IoC/ClientContentIoC.cs
  Content.Client/_FS/DiscordAuth/DiscordAuthGui.xaml
  Content.Client/_FS/DiscordAuth/DiscordAuthGui.xaml.cs
  Content.Client/_FS/DiscordAuth/DiscordAuthManager.cs
  Content.Client/_FS/DiscordAuth/DiscordAuthState.cs
  Content.Server/Connection/ConnectionManager.cs
  Content.Server/Entry/EntryPoint.cs
  Content.Server/GameTicking/GameTicker.Player.cs
  Content.Server/IoC/ServerContentIoC.cs
  Content.Server/_FS/DiscordAuth/DiscordAuthManager.cs
  Content.Shared/_FS/CCVars/CCVars.Discord.cs
  Content.Shared/_FS/DiscordAuth/DiscordAuthCheckMessage.cs
  Content.Shared/_FS/DiscordAuth/DiscordAuthRequiredMessage.cs
  Resources/Locale/en-US/_FS/discord-auth.ftl
Labels: C#, FTL, UI

#178 Fixes
  Resources/Maps/_NF/Shuttles/Expedition/charon.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
  Resources/Prototypes/_EinsteinEngines/Entities/Mobs/Player/ipc.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/baby_dragon.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_base.yml
Labels: YML, No C#, Map-Shuttle

#175 Port leashes, shock collars, and a couple fixes
  Content.Client/Floofstation/Leash/LeashVisualsOverlay.cs
  Content.Client/Floofstation/Leash/LeashVisualsSystem.cs
  Content.Shared/Clothing/EntitySystems/ClothingSystem.cs
  Content.Shared/Floofstation/Leash/Components/LeashAnchorComponent.cs
  Content.Shared/Floofstation/Leash/Components/LeashComponent.cs
  Content.Shared/Floofstation/Leash/Components/LeashedComponent.cs
  Content.Shared/Floofstation/Leash/Components/LeashedVisualsComponent.cs
  Content.Shared/Floofstation/Leash/LeashDoAfterEvents.cs
  Content.Shared/Floofstation/Leash/LeashSystem.cs
  Content.Shared/Inventory/InventorySystem.Equip.cs
  Resources/Locale/en-US/Floof/leash/leash-verbs.ftl
  Resources/Locale/en-US/Floof/leash/leash.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Floof/Entities/Clothing/Neck/collars.yml
  Resources/Prototypes/Floof/Entities/Objects/Devices/shock_collar.yml
  Resources/Prototypes/Floof/Entities/Objects/Tools/leash.yml
  Resources/Prototypes/Floof/Loadouts/neck.yml
  Resources/Prototypes/Floof/Loadouts/trinkets.yml
  Resources/Prototypes/Floof/Recipes/Lathes/devices.yml
  Resources/Prototypes/Floof/Recipes/Lathes/tools.yml
  Resources/Prototypes/_NF/Entities/Clothing/Neck/misc.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Loadouts/contractor_loadout_groups.yml
  Resources/Textures/Floof/Objects/Tools/leash-rope.rsi/meta.json
  Resources/Textures/Floof/Objects/Tools/leash-rope.rsi/rope.png
  Resources/Textures/Floof/Objects/Tools/leash.rsi/icon.png
  Resources/Textures/Floof/Objects/Tools/leash.rsi/meta.json
  Resources/Textures/Interface/VerbIcons/Spare/resize.svg.192dpi.png
  Resources/migration.yml
Labels: C#, YML, FTL, Sprites

#176 Port vulpkanin noises
  Resources/Audio/Floof/Voice/Vulpkanin/attritbutions.yml
  Resources/Audio/Floof/Voice/Vulpkanin/gekker.ogg
  Resources/Audio/Floof/Voice/Vulpkanin/vulpscream1.ogg
  Resources/Audio/Floof/Voice/Vulpkanin/vulpscream2.ogg
  Resources/Audio/Floof/Voice/Vulpkanin/vulpscream3.ogg
  Resources/Audio/Floof/Voice/Vulpkanin/vulpscream4.ogg
  Resources/Audio/Floof/Voice/Vulpkanin/vulpscream5.ogg
  Resources/Audio/Floof/Voice/Vulpkanin/yap.ogg
  Resources/Locale/en-US/Floof/chat/emotes.ftl
  Resources/Prototypes/Floof/SoundCollections/vulpkanin_emotes.yml
  Resources/Prototypes/Floof/Voice/speech_emotes.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/_DV/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_EE/SoundCollections/harpy.yml
Labels: YML, FTL, No C#, Audio

#177 Give Lizards Hair
  Resources/Prototypes/Species/reptilian.yml
Labels: YML, No C#
