Repository Fansana/floof-frontier, pull requests merged in 2025-05, with the labels that each got.

#182 Possible svalinn change
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/hitscan.yml
  Resources/Prototypes/_DV/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Textures/Objects/Weapons/Guns/Projectiles/projectiles.rsi/beamlight.png
  Resources/Textures/Objects/Weapons/Guns/Projectiles/projectiles.rsi/impact_laserlight.png
  Resources/Textures/Objects/Weapons/Guns/Projectiles/projectiles.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Projectiles/projectiles.rsi/muzzle_laserlight.png
Labels: C#, YML, No C#, Sprites

#184 Possible svalinn change
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Floof/Entities/Objects/Weapons/guns.yml
  Resources/Prototypes/_NF/Procedural/salvage_mods.yml
Labels: YML, No C#

#188 Update labeler-size.yml
  .github/workflows/labeler-size.yml
Labels: YML, No C#

#189 ContraVend: work as an uplink, not a vendor
  Resources/Locale/en-US/_NF/store/currency.ftl
  Resources/Locale/en-US/_NF/store/store.ftl
  Resources/Locale/en-US/_NF/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/Fills/Crates/syndicate.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/Recipes/Crafting/crates.yml
  Resources/Prototypes/_NF/Catalog/Fills/Crates/syndicate.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/contravend.yml
  Resources/Prototypes/_NF/Catalog/mercenary_uplink_catalog.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_engineering.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_general.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_medical.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/syndicate.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/Service/vending_machine_restock.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/mercenary.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/_NF/Entities/Structures/Specific/TradingCrates/base.yml
  Resources/Prototypes/_NF/Entities/Structures/Specific/TradingCrates/crates.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Crates/base_structurecrates.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Crates/crate.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/barrel.yml
  Resources/Prototypes/_NF/Events/nf_events.yml
  Resources/Prototypes/_NF/Stacks/Materials/crystals.yml
  Resources/Prototypes/_NF/Store/categories.yml
  Resources/Prototypes/_NF/Store/presets.yml
  Resources/Prototypes/_NF/currency.yml
  Resources/Prototypes/_NF/tags.yml
  Resources/Textures/_NF/Objects/Specific/Mercenary/merc_coin.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Specific/Mercenary/merc_coin.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Specific/Mercenary/merc_coin.rsi/merc_coin.png
  Resources/Textures/_NF/Objects/Specific/Mercenary/merc_coin.rsi/meta.json
  Resources/Textures/_NF/Structures/Machines/VendingMachines/mercvend.rsi/broken.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/mercvend.rsi/deny-unshaded.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/mercvend.rsi/eject-unshaded.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/mercvend.rsi/meta.json
  Resources/Textures/_NF/Structures/Machines/VendingMachines/mercvend.rsi/normal-unshaded.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/mercvend.rsi/off.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/mercvend.rsi/panel.png
Labels: YML, FTL, No C#, Sprites, S: Untriaged, size/M

#192 add rodentia
  Resources/Prototypes/Species/species_weights.yml
  Resources/Prototypes/_DV/Species/rodentia.yml
Labels: YML, No C#, S: Untriaged, size/XS

#196 Private Security Hardsuit resprite and Mercenary/ Private Sec suit slight buffs
  Resources/Prototypes/_NF/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Textures/_NF/Clothing/Head/Hardsuits/private_security.rsi/icon-flash.png
  Resources/Textures/_NF/Clothing/Head/Hardsuits/private_security.rsi/icon.png
  Resources/Textures/_NF/Clothing/Head/Hardsuits/private_security.rsi/meta.json
  Resources/Textures/_NF/Clothing/Head/Hardsuits/private_security.rsi/off-equipped-HELMET-vox.png
  Resources/Textures/_NF/Clothing/Head/Hardsuits/private_security.rsi/off-equipped-HELMET-vulpkanin.png
  Resources/Textures/_NF/Clothing/Head/Hardsuits/private_security.rsi/off-equipped-HELMET.png
  Resources/Textures/_NF/Clothing/Head/Hardsuits/private_security.rsi/on-equipped-HELMET-vox.png
  Resources/Textures/_NF/Clothing/Head/Hardsuits/private_security.rsi/on-equipped-HELMET-vulpkanin.png
  Resources/Textures/_NF/Clothing/Head/Hardsuits/private_security.rsi/on-equipped-HELMET.png
  Resources/Textures/_NF/Clothing/OuterClothing/Hardsuits/mercenary.rsi.zip
  Resources/Textures/_NF/Clothing/OuterClothing/Hardsuits/private_security.rsi/equipped-OUTERCLOTHING-harpy.png
  Resources/Textures/_NF/Clothing/OuterClothing/Hardsuits/private_security.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/_NF/Clothing/OuterClothing/Hardsuits/private_security.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_NF/Clothing/OuterClothing/Hardsuits/private_security.rsi/icon.png
  Resources/Textures/_NF/Clothing/OuterClothing/Hardsuits/private_security.rsi/inhand-left.png
  Resources/Textures/_NF/Clothing/OuterClothing/Hardsuits/private_security.rsi/inhand-right.png
  Resources/Textures/_NF/Clothing/OuterClothing/Hardsuits/private_security.rsi/meta.json
  Resources/Textures/_NF/Objects/Weapons/Guns/SMGs/surpdrozd.rsi/meta.json
  Resources/Textures/_NF/Objects/Weapons/Guns/Shotguns/surppump.rsi/meta.json
  Resources/Textures/_NF/Objects/Weapons/Guns/Shotguns/surppump_inhands_64x.rsi/meta.json
Labels: YML, FTL, No C#, Sprites, size/S

#198 Small bugfix and compatibility patch hardsuits, contraband crates
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
  Resources/Prototypes/Floof/Entities/Mobs/Species/resomi.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/rodentia.yml
  Resources/Prototypes/_NF/Entities/Structures/Specific/TradingCrates/base.yml
  Resources/Textures/Clothing/OuterClothing/Hardsuits/salvage.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/salvage.rsi/meta.json
  Resources/Textures/_NF/Clothing/OuterClothing/Hardsuits/mercenary.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/_NF/Clothing/OuterClothing/Hardsuits/mercenary.rsi/meta.json
  Resources/Textures/_NF/Clothing/OuterClothing/Hardsuits/private_security.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/_NF/Clothing/OuterClothing/Hardsuits/private_security.rsi/meta.json
Labels: YML, No C#, Sprites, size/S

#201 Update rsi-diff.yml
  .github/workflows/rsi-diff.yml
Labels: YML, No C#, S: Untriaged, size/XS

#200 fix
  Resources/Textures/Floof/Mobs/Effects/Resomi/burn_damage.rsi/Chest_Burn_100.png
  Resources/Textures/Floof/Mobs/Effects/Resomi/burn_damage.rsi/Head_Burn_100.png
  Resources/Textures/Floof/Mobs/Effects/Resomi/burn_damage.rsi/LArm_Burn_100.png
  Resources/Textures/Floof/Mobs/Effects/Resomi/burn_damage.rsi/LFoot_Burn_100.png
  Resources/Textures/Floof/Mobs/Effects/Resomi/burn_damage.rsi/LHand_Burn_100.png
  Resources/Textures/Floof/Mobs/Effects/Resomi/burn_damage.rsi/LLeg_Burn_100.png
  Resources/Textures/Floof/Mobs/Effects/Resomi/burn_damage.rsi/RArm_Burn_100.png
  Resources/Textures/Floof/Mobs/Effects/Resomi/burn_damage.rsi/RFoot_Burn_100.png
  Resources/Textures/Floof/Mobs/Effects/Resomi/burn_damage.rsi/RHand_Burn_100.png
  Resources/Textures/Floof/Mobs/Effects/Resomi/burn_damage.rsi/RLeg_Burn_100.png
  Resources/Textures/Floof/Mobs/Effects/Resomi/burn_damage.rsi/meta.json
Labels: No C#, Sprites, size/S

#202 Update SuicideCommandTests.cs
  Content.IntegrationTests/Tests/Commands/SuicideCommandTests.cs
Labels: C#, S: Untriaged, size/M
